
{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Pet Shop | PetMart</title>
<meta charset="iso-8859-1">
{% comment %} css {% endcomment %}
<link rel='stylesheet' type='text/css' href="{% static 'app/css/ie6.css' %}">
<link rel='stylesheet' type='text/css' href="{% static 'app/css/ie7.css' %}">
<link rel='stylesheet' type='text/css' href="{% static 'app/css/style.css' %}">
<link rel='stylesheet' type='text/css' href="{% static 'app/css/cart.css' %}">
{% comment %} js {% endcomment %}
<script type='text/javascript'>
    var user = '{{request.user}}'
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');
  </script>

<script src="{% static 'app/js/cart.js' %}"></script>
</head>
<body>
  <div id="header"> <a href="{% url 'index' %}" id="logo"><img src="{% static 'app/images/logo.gif' %}" width="310" height="114" alt=""></a>
    <ul class="navigation">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'petmart' %}">Shop</a></li>
        {% comment %} <li><a href="{% url 'about' %}">About Us</a></li> {% endcomment %}
        <li><a href="{% url 'contact' %}">Hotline</a></li>
        <div style ="visibility": {{user_not_login}}>
            <li><a href="{% url 'login' %}">Login</a></li>
          </div>
          <div style ="visibility": {{user_login}}>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </div>
        <div class='form-inline my-2 my-lg-0'>
          <a href="{% url 'cart' %}">__<img style="width:32px;height:32px;" src="{% static 'app/images/cart.png' %}"></a>
        </div>
      </ul>
</div>
<div id="body">
  <div id="content">
    <form class="search" method=POST action ="{% url 'search' %}">
        {% csrf_token %}
        <input type="text" name="searched">
        <button>&nbsp;</button>
        <label for="articles">
          <input type="radio" id="articles">
          Articles</label>
        <label for="products">
          <input type="radio" id="products" checked>
          PetMart Products</label>
        </form>
    </div>
    {% comment %} cac san pham tu them vo {% endcomment %}
    <div class="row" >
        <div class="col-lg-12">
            <div class="box-element">
    
                <a  class="btn btn-outline-dark" href="{% url 'petmart' %}">&#x2190; Continute shoping</a>
    
                <br>
                <br>
                <table class="table">
                    <tr>
                        <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
                        <th><h5>Total:<strong> {{order.get_cart_total}}$</strong></h5></th>
                        <th>
                            <a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                        </th>
                    </tr>
                </table>
    
            </div>
            {% for item in items %}
            <br>
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Item</strong></div>
                    <div style="flex:1"><strong>Price</strong></div>
                    <div style="flex:1"><strong>Quantity</strong></div>
                    <div style="flex:1"><strong>Total</strong></div>
                   
                </div>
                
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.ImageURL}}"></div>
                    <div style="flex:2"><p>{{item.product.name}}</p></div>
                    <div style="flex:1"><p>{{item.product.price}}$</p></div> 
                    <div style="flex:1">
                        <div class="quantity">
                            <img  data-product ={{item.product.id}} data-action ='them' class="chg-quantity update-cart" src="{% static  'app/images/arrow-up.gif' %}" style="width:10px;height:10px;">
                            <p class="quantity">{{item.quantity}}</p>
                            <img data-product ={{item.product.id}} data-action ='xoa' class="chg-quantity update-cart" src="{% static  'app/images/arrow-down.gif' %}" style="width:10px;height:10px;">
                        </div>
                        
                    </div>
                    <div style="flex:1"><p>{{item.get_total}}$</p></div>
                </div>
                
            </div>
        </div>
    
    {% endfor %}
</div>
    {% comment %} end cac san pham tu them {% endcomment %}
    <script src="{% static 'app/js/cart.js' %}"></script>

</body>
</html>
